html {
	font-family:'Poppins', sans-serif;
}


#logo {
	position: absolute;
	top: 20px ;
	left: 600px;
}

#games {
	color: aliceblue;
	font-size: 60px;
	letter-spacing: 20px;
	position: absolute;
	top: 220px;
	left:500px;
	
	
}

#content {
	position: absolute;
	top: 650px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 14px;
}

.shread {
	
	position:absolute;
	top:1989px;
}

.Mobile-Legend, .Valorant, .PlayerUnknownBattleground {
	color: aliceblue;
	width: 550px;
	
}

.pic1 {
	position:absolute;
	top: -75px;
	left: -350px;
	width:1250px;
}

.Mobile-Legend {
	position: absolute;
	top:470px;
	left: 120px;
	padding:40px;
	
}

.gold, .silver, .bronze {
	position: absolute;
	top: 605px;
    height: 105px;
    background: #618CCB;
	border-radius:5px;

	
}

.cap-bronze, .cap-gold, .cap-silver {
	color: aliceblue;
}
/*
.cap-gold {
	position: absolute;
	left: 1045px;
	top: 0px;
	width: 100px;
}
*/
.gold{ /* gold */
    
	position: absolute;
	left: 740px;
	top: 165px;
	width: 600px;
}

.awards1 {
	color: aliceblue;
	padding: 25px;
	margin-top: 15px;
	text-align:left;
}
.prizepool1 {
	color: aliceblue;
	position: absolute;
	left: 740px;
	top: 120px;
	
}

/*
.cap-silver {
	position: absolute;
	left: 860px;
	top: 90px;
	width: 100px;
}
*/
.silver{ /* silver */
	position: absolute;
	left: 740px;
	top: 285px;
	width: 450px;
}

/*
.cap-bronze{
	position: absolute;
	left: 1230px;
	top: 170px;
	width: 100px;
}
*/
.bronze { /* bronze */
	position: absolute;
	left: 740px;
	top: 405px;
	width: 320px;
}

.pic2 {
	position:absolute;
	top: 1180px;
	left: -350px;
	width:1250px;
}

.Valorant {
	position: absolute;
	top:1770px;
	left: 120px;
	padding:40px;
	
}

.gold2, .silver2, .bronze2 {
	position: absolute;
	top: 1000px;
    height: 105px;
	border-radius: 7px;
    background: #618CCB;
}

.cap-bronze2, .cap-gold2, .cap-silver2 {
	color: aliceblue
}
/*
.cap-gold {
	position: absolute;
	left: 1045px;
	top: 0px;
	width: 100px;
}
*/
.gold2{ /* gold */
    
	position: absolute;
	left: 220px;
	top: 770px;
	width: 600px;
}


.prizepool2 {
	color: aliceblue;
	position: absolute;
	top: 720px;
	left: 735px;
	
}

/*
.cap-silver {
	position: absolute;
	left: 860px;
	top: 90px;
	width: 100px;
}
*/
.cap-silver2{ /* silver */
	position: absolute;
	left: 830px;
	top: 250px;
	width: 330px;
}

.silver2{ /* gold */
    
	position: absolute;
	left: 370px;
	top: 890px;
	width: 450px;
}

/*
.cap-bronze{
	position: absolute;
	left: 1230px;
	top: 170px;
	width: 100px;
}
*/
.bronze2 { /* bronze */
	position: absolute;
	left: 500px;
	top: 1010px;
	width: 320px;
}

.pic3 {
	position:absolute;
	top: 495px;
	left: 540px;
	width:970px;
}

.PlayerUnknownBattleground {
	position: absolute;
	top:1100px;
	left: 800px;
	padding:40px;
	text-align: center
	
}

.gold3, .silver3, .bronze3 {
	position: absolute;
	top: 450px;
    height: 105px;
	border-radius: 7px;
    background: #618CCB;
}

.cap-bronze3, .cap-gold3, .cap-silver3 {
	color: aliceblue
}
/*
.cap-gold {
	position: absolute;
	left: 1045px;
	top: 0px;
	width: 100px;
}
*/
.gold3{ /* gold */
    
	position: absolute;
	left: 740px;
	top: 1430px;
	width: 600px;
}

.awards3 {
	color: aliceblue;
	padding: 15px;
	margin-top: 15px;
	text-align:left;
}
.prizepool3 {

	color: aliceblue;
	position: absolute;
	left: 750px;
	top: 1390px;
	

}

/*
.cap-silver {
	position: absolute;
	left: 860px;
	top: 90px;
	width: 100px;
}
*/
.silver3{ /* silver */
	position: absolute;
	left: 740px;
	top: 1555px;
	width: 450px;
}

/*
.cap-bronze{
	position: absolute;
	left: 1230px;
	top: 170px;
	width: 100px;
}
*/
.bronze3 { /* bronze */
	position: absolute;
	left: 740px;
	top: 1680px;
	width: 320px;
}

#fee { /* EFFECT SEMUA UNDER */
	font-size:33px; 
	text-align: center; 
	position: absolute;
	color: aliceblue;
	left: 590px;
	top: 2030px;
	width: 350px;
	margin-bottom: 200px;
}

.feep {
		font-size:22px; 
		text-align: center; 
		position: absolute;
		color: aliceblue;
		width: 200px;
		left: 85px;
		top: 50px;
		margin-bottom: 200px;
}

.table {
	
	position: absolute;
	top: 120px;
	left:-350px;
	background: #618CCB;
	
}

#form {
	font-size:50px; 
	text-align: center; 
	position: absolute;
	color: aliceblue;
	left: 580px;
	top: 2690px;
	margin-bottom: 200px;
	width:450px;
}

.formp {
		font-size:22px; 
		text-align: center; 
		position: absolute;
		color: aliceblue;
		width: 350px;
		left: 50px;
		top: 80px;
		margin-bottom: 200px;
}

th {
	font-size: 28px;
}

.link {
	position:absolute;
	top:150px;
	left:-60px;
	width:550px;
	font-size: 45px;
	}

.footer{
	color: black; 
	font-size: 20px; 
	position: absolute; 
	left:650px; 
	top: 4010px; 
	text-align: center;
}

.footersocials{ 
	color: white; 
	font-size: 20px; 
	position: absolute; 
	left:630px;
	
	top: 4020px;
}

.f1, .f2, .f3 {
	padding:30px;
	margin-top:30px;
	
}
