#topnav {
  	list-style-type: none;
  	margin: 0 ;
  	padding: inherit;
  	overflow: hidden;
  	background-color: transparent;
  	position:absolute;
  	top: 0; right:0;
  	width:100%; 
	font-size:25px ; 
	font-family: 'Poppins', sans-serif; 
}

li {
  float: left;
}

li a, .dropbtn {
  display: block;
  color: white;
  text-align: justify;
  padding: 35px 30px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color:#111;
}

.active {
  background-color: #111;
}

li.dropdown {
  display: block;
}

.dropdown-content {
  display: none;
  position:relative;
  background-color: #f9f9f9;
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block; 
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}



c li {
  float: right;
}

c li a {
  display: block;
  color: white;
  text-align: center;
  padding: 22px 20px;
  text-decoration: none; padding-left:10px
}

c li a:hover:not(.active) {
  background-color: #111;
}



#wrapper { 
  overflow: hidden;
  background-color: transparent;
  position:absolute;
  left: 0; top:0;
  width:100%;
}

