

/* Reset */

html, body { 
	margin: 0; 
	padding: 0; 
	border: 0;  
			
	background: transparent; 
	font-size:10px;
	font-family:'Poppins', sans-serif;
} 

div, span, article, aside, footer, header, hgroup, nav, section,
h1, h2, h3, h4, h5, h6,  blockquote, a, ol, ul, li, 
table, tr, th, td, tbody, tfoot, thead {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	}
	
 h2, h3, h4, h5, h6,  li, blockquote, td, th, a, caption, em, strong, strike { 

	font-size:100%;
	font-weight: normal;
	font-style: normal;
	line-height: 100%; 
	text-indent: 0;
	text-decoration: none;
	text-align: left;
	color: #000;
	}

/* Headings */

 h2, h4, h5, h6 { font-weight: bold; color: #000; }

h1 { font-size:65px; }
h2 { 
	font-size:33px; 
	text-align: center; 
	position: absolute;
	color: aliceblue;
	left: 625px;
	top: 780px;
	margin-bottom: 200px;

}
h3 { font-size:40px;  color:aliceblue }
h4 { font-size:16px; color: white}
h5 { font-size:14px; }
h6 { font-size:14px; }

 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }


.price-award-p { 
	padding: 20px;
	text-align: center;
	position: absolute;
	left: 200px;
	
}

.champ {
	color:aliceblue;
	width: 900px;
	position:absolute;
	top: 1655px;
	left:280px;
	font-size:20px;
}

.with-over {
	
	color: aliceblue;
	Position: absolute;
	left: 250px;
}

.RM {
	position:absolute;
	color: yellow;
	top: 130px;
	left: 170px
}

.worth1 {
	width: 550px;
	font-size: 25px;
	color:red;
	position: absolute;
	top:1845px;
	left:355px;
	padding: 12px;
	text-align:center;
	
	/*
	position: absolute;
	top: 1840px;
	left: 355px;*/
}

.award-bg {
	color:aliceblue;
	position:absolute;
	top: 1500px;
	left:130px;
	border-radius: 50px;
}

.worth-of {
	width: 250px;
	font-size: 25px;
	color:aliceblue;
	padding: 12px;
	position: absolute;
	top: 1820px;
	text-align:center;
	left: 355px;
	
}

.worth-of-p{
	font-size: 15px;
	color:aliceblue;
	margin-top:25px;
	width:250px;
	position: absolute;
	top: 1880px;
	text-align:center;
	left: 450px;
}

#logo {
	position: absolute;
	top: 20px ;
	left: 525px;
}

#main-button {
	
	position: absolute;
	top: -95px ;
	left: 160px;
	letter-spacing: 5px;
	padding-top: 20px;	
}


#content 			{ 

	float:left;
	margin-left: 100px;
	margin-right:0px;
	margin-top: 800px;
	
}

#categories {
	align-content: center;
}

/*
#price-awards {   
	border-radius: 25px;
	float: clear;
  	background:#233D64;
  	position: absolute;
	top: 1500px;
  	margin-left:90px;
	margin-right:90px;
	
  padding: 25px; 
  width: 75%;
  height: 150px; }

#price-awards p {
text-align: center;
}
*/

.footer{
	color: black; 
	font-size: 20px; 
	position: absolute; 
	left:650px; 
	top: 2580px; 
	text-align: center;
}

.footersocials{ 
	color: white; 
	font-size: 20px; 
	position: absolute; 
	left:630px; 
	top: 2620px;
}

.f1, .f2, .f3 {
	padding:30px;
	margin-top:30px;
	
}

h li a {
  display: block;
  color: white;
  padding: 10px;
	left: 100px;
  text-decoration: none; 
}

h li a:hover:not(.active) {
  background-color: #D8D8D8;
}

.clear	{ clear:both; }

.JOIN {
	color: black;
	font-size: 65px;
	position: absolute;
	top: 570px;
	left: 330px;
}

.JOIN:hover {
	color:#618CCB;
}
/* Miscellaneous  */

.active {
  background-color:#111;
}


.image1 { 
	float: left;
	width: 355px;
	margin-top: 50px;
	padding-left: 45px;
	filter: grayscale(100%) ; 
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  	transition: 0.4s;
}

.image1:hover { 
	filter: grayscale(0%) drop-shadow(4px 4px 4px #618CCB );
	transition: 0.3s;

}

.image2 { 
	position: absolute;
	top: 800px;
	left: 530px;
	width: 355px;
	margin-top: 50px;
	padding-left: 45px;
	filter: grayscale(100%); 
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
}

.image2:hover {
	filter: grayscale(0%) drop-shadow(4px 4px 4px #618CCB );
	transition: 0.3s;
}

.image3 { 
	position: absolute;
	top: 800px;
	left: 960px;
	width: 355px;
	margin-top: 50px;
	padding-left: 45px;
	filter: grayscale(100%); 
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
}

.image3:hover { 
	filter: grayscale(0%) drop-shadow(5px 5px 5px #618CCB );
	transition: 0.3s;
}
/* reserve
.top-left {
 	position: absolute;
  	top: 860px;
  	left: 170px;
	color: white;
}
*/
/*
.overlay1 {
  position: absolute;
  top:860px;
  left: 147px;
  background-color: #008CBA;
  border-radius: 12px 12px 150px 12px;
  overflow:hidden;
  width: 0px;
  transition: .4s ease;
}
*/
.overlay1 {
  position: absolute;
  top:870px;
  left: 145px;
  background-color: #008CBA;
  border-radius: 12px 12px 150px 12px;
  overflow:hidden;
  width: 0px;
  transition: .4s ease;
}

.container1:hover .overlay1 {
  width: 210px;
  height: 25px;

}


.text1 {
  color: white;
  font-size: 18px;
  position: absolute;
  top:873px;
  left: 160px;
	opacity: 0;

}

.container1:hover .text1 {
	opacity: 1;
	transition: 0.6s;
}

.bottom-left {
  	position: absolute;
	top: 1198px;
  	left: 145px;
  	width: 315px;
 	height: 115px;
	background-image: linear-gradient(to top, rgba(240,240,240,0.98), rgba(240,240,240,0.01)); 
  	transition: .4s ease;
  	opacity:1;
  	padding: 20px;
	border-radius: 5px;
}

.bottom-left-p{
	position: absolute;
	text-align: center;
	font-size: 14px;
  	top: 1215px;
  	left: 153px;
  	width: 300px;
 	height: 100px;
	color: black; 
  	padding: 20px;
	
}


/* reserve
.top-left1 {
 	position: absolute;
  	top: 860px;
  	left: 580px;
	color: white;
}
*/

.overlay2 {
  position: absolute;
  top:870px;
  left: 575px;
  background-color: #008CBA;
  border-radius: 12px 12px 150px 12px;
  overflow:hidden;
  width: 0px;
  transition: .4s ease;
}

.container2:hover .overlay2 {
  width: 210px;
  height: 25px;
}

.text2 {
  	color: white;
  	font-size: 18px;
  	position:absolute;
	top:873px ;
	left:593px;
	opacity: 0;
  	
}

.container2:hover .text2 {
	opacity: 1;
	transition: 0.55s;
}
/*.bottom-left1 {
  	position: absolute;
	top: 1165px;
  	left: 550px;
  	width: 292px;
 	height: 105px;
	background-image: linear-gradient(to top, rgba(240,240,240,0.98), rgba(240,240,240,0.01)); 
  	transition: .4s ease;
  	opacity:1;
  	padding: 20px;
	border-radius: 5px;
}
*/
.bottom-left1 {
  	position: absolute;
	top: 1198px;
  	left: 575px;
  	width: 315px;
 	height: 115px;
	background-image: linear-gradient(to top, rgba(240,240,240,0.98), rgba(240,240,240,0.01)); 
  	transition: .4s ease;
  	opacity:1;
  	padding: 20px;
	border-radius: 5px;
}

.bottom-left1-p{
	position: absolute;
	text-align: center;
	font-size: 14px;
  	top: 1215px;
  	left: 585px;
  	width: 300px;
 	height: 95px;
	color: black; 
  	padding: 20px;
	
}

/* reserve
.top-left2 {
 	position: absolute;
  	top: 860px;
  	left: 1000px;
	color: white;
}
*/
.overlay3 {
  position: absolute;
  top:870px;
  left: 1005px;
  background-color: #008CBA;
  border-radius: 12px 12px 150px 12px;
  overflow:hidden;
  width: 0px;
  transition: .4s ease;
}

.container3:hover .overlay3 {
  width: 210px;
  height: 25px;
}

.text3 {
  color: white;
  font-size: 18px;
  position: absolute;
  top:873px;
  left: 1035px;
  opacity: 0;
}

.container3:hover .text3 {
	opacity: 1;
	transition: 0.55s;
}

.bottom-left2 {
  	position: absolute;
	top: 1198px;
  	left: 1005px;
  	width: 315px;
 	height: 115px;
	background-image: linear-gradient(to top, rgba(240,240,240,0.98), rgba(240,240,240,0.01)); 
  	transition: .4s ease;
  	opacity:1;
  	padding: 20px;
	border-radius: 5px;
}
.bottom-left2-p{
	position: absolute;
	text-align: center;
	font-size: 14px;
  	top: 1215px;
  	left: 1020px;
  	width: 300px;
 	height: 100px;
	color: black; 
  	padding: 20px;
	
}


.button {
	position: absolute;
	top: 2005px;
  	left: 780px;
	
  border-radius: 25px;
  background-color:#618CCB;
  text-align: center;
  font-size: 12px;
  padding: 12px;
  width: 140px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
	color:aliceblue;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
	
}

.button:hover span {
  padding-right: 25px;
	color: #1C0E34 ;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
color: #1C0E34 ;	
}


/*reserve? 
.card1{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 26%;
	margin: 15px;
  border-radius: 5px;
}
.card1:hover{box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}

*/

